@import url('variables.css');

.container { 
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

* {
    transition: all 0.3s ease;
}

body.dark {
    --primary-feed-color: #242526;
    --primary-text-color: #fff;
}

.main-content {
    width: 50%;
    height: inherit;
    background-color: var(--primary-feed-color);
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    text-align: center;
    flex-direction: column;
    color: var(--primary-text-color);
    overflow-y: scroll;
}

.top-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.top-content .pInfo {
    margin-right: 3%;
    transition: transform 0.3s ease;
}

.top-content > h1 {
    margin-left: 5%;
    font-size: 300%;
    font-family: "Sofia", cursive;
    color: var(--aux-filler);
    margin-bottom: 10px;
}