
@keyframes pulse {
    10% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.2); 
    }
    100% {
        transform: scale(1); 
    }
}

.like-icon {
    transition: transform 0.2s ease-in-out; 
}

.like-icon.liked {
    animation: pulse 0.3s ease-out; 
}
